<div class="container">
    <br>
    <h1>Pipes</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Variable</th>
                <th>Pipe</th>
                <th>Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{nombre}}</th>
                <td>uppercase</td>
                <td>{{nombre | uppercase}}</td>
            </tr>
            <tr>
                <th>{{nombre}}</th>
                <td>lowercase</td>
                <td>{{nombre | lowercase}}</td>
            </tr>
            <tr>
                <th>{{nombre}}</th>
                <td>slice: 3</td>
                <td>{{nombre | slice: 3}}</td>
            </tr>
            <tr>
                <th>{{nombre}}</th>
                <td>slice: 0: 3</td>
                <td>{{nombre | slice: 0: 3}}</td>
            </tr>
            <tr>
                <th>{{nombre}}</th>
                <td>slice: 1: 5</td>
                <td>{{arreglo | slice: 1: 5}}</td>
            </tr>
            <tr>
                <th>{{pi}}</th>
                <td>number</td>
                <td>{{pi | number : '3.0-0'}}</td>
            </tr>
            <tr>
                <th>{{a}}</th>
                <td>percent</td>
                <td>{{a | percent: '2.2-2'}}</td>
            </tr>
            <tr>
                <th>{{salario}}</th>
                <td>Salario</td>
                <td>{{salario | currency: 'EUR': true: '4.0-0'}}</td>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <td>Fecha</td>
                <td>{{fecha | date}}</td>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <td>Fecha: medium</td>
                <td>{{fecha | date: 'medium'}}</td>
            </tr>
            <tr>
                <th>{{fecha}}</th>
                <td>Fecha: 'MMMM - dd'</td>
                <td>{{fecha | date: 'MMMM - dd'}}</td>
            </tr>

            <tr>
                <th>{{nombreTeslem}}</th>
                <td>nombreTeslem | Capitalizado</td>
                <td>{{nombreTeslem | Capitalizado}}</td>
            </tr>

            <tr>
                <th>{{nombreTeslem}}</th>
                <td>nombreTeslem | Capitalizado</td>
                <td>{{nombreTeslem | Capitalizado: false}}</td>
            </tr>

            <tr>
                <th>{{constrasena}}</th>
                <button (click)="activar = !activar" type="button" class="btn btn-outline-primary">Activar/Descativar</button>
                <td>{{constrasena | contrasena: activar}}</td>
            </tr>
        </tbody>
    </table>

    <h4>
        <pre>
                {{heroe | json}} 
        
        </pre>
    </h4>
    <h4>Youtube <small>video</small>
        <iframe [src]="video | domseguro : 'https://www.youtube.com/watch?v='" frameborder="0"></iframe>
    </h4>
</div>