<div class="container top-30">
    <div class="row">
        <div class="col-md-3">
            <label for="termino">Buscador de artistas</label>
            <input type="text" [(ngModel)]="termino" name="termino" type="text" class="form-control" (keyup)="searchArtist()">
            <hr>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-med-3 text-center puntero" *ngFor="let artista of artistas" [routerLink]="['/artist', artista.id]">
                    <img [src]="artista.images | withoutImage" class="img-fluid img-thumbnail">
                    <p>{{artista.name}}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>